body {
    background-color: lightblue;
}

img {
    image-rendering: pixelated;
}

.layer {
    position: absolute;
}

.cloth {
    background-color: gray;
}

.selectedcloth {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}