body {
    background-color: lightblue;
}

img {
    image-rendering: pixelated;
}

canvas {
    image-rendering: pixelated;
}

.grid-container {
    display: grid;
    gap: 4px 4px;
    grid-template-columns: auto auto auto;
}

.group {
    border: 2px;
    border-color: black;
}

.folder {
    display: none;
}

.selectedfolder {
    display: flex;
}

.cloth {
    background-color: gray;
}

.selectedcloth {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.color {
    width:24px;
    height:24px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
}

.selectedcolor {
    width:24px;
    height:24px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}