body {
    background-color: lightblue;
}

img {
    image-rendering: pixelated;
}

canvas {
    image-rendering: pixelated;
}

.folder {
    display: none;
}

.selectedfolder {
    display: flex;
}

.cloth {
    background-color: gray;
}

.selectedcloth {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}